PR_Options=RootBranch,Path
PR_ProjectKeys=E-Certify,E-Recording,RECO,Vitals,RAM
PR_AppKeys=PR_Keys_E-Certify,PR_Keys_E-Recording,PR_Keys_RECO,PR_Keys_Vitals,PR_Keys_RAM


PR_Keys_E-Certify=Api,PublicApi,CloudStack,E-Certify,Support,Admin
PR_Keys_E-Recording=DocSubmit,Admin,Dashboard,Support,PackageApi,PublicApi,PackageHandlerLambda,ColorImage,CountyLogoLambda,WebRecordingAdminFormLambda,S3DocumentUploadLambda,Bootstrapper
PR_Keys_RECO=Api,CloudStack,PublicApi,QueueProcessor,FrontEnd,Admin
PR_Keys_Vitals=Api,PublicApi,Vitals,Admin,Support,JobRunner,ClientPublicApi,AdminS3DocumentUploadLambda,CitizenS3CompletedForms,CitizenS3SupportDoc,AdminS3ShippingLabelTemplateLambda,RequestSubmissionLambda,CloudStack
PR_Keys_RAM=Api,PublicApi,CloudStack,Admin,FrontEnd


E-Certify_Admin_RootBranch=main
E-Certify_Api_RootBranch=master
E-Certify_CloudStack_RootBranch=main
E-Certify_ECertify_RootBranch=master
E-Certify_PublicApi_RootBranch=main
E-Certify_Support_RootBranch=master

E-Certify_Admin_Path=E-Certify\ecertify-admin
E-Certify_Api_Path=E-Certify\ecertify-api
E-Certify_CloudStack_Path=E-Certify\ecertify-cloud-stack
E-Certify_ECertify_Path=E-Certify\ECertify
E-Certify_PublicApi_Path=E-Certify\ecertify-public-api
E-Certify_Support_Path=E-Certify\ecertify-support


E-Recording_Admin_RootBranch=master
E-Recording_Bootstrapper_RootBranch=master
E-Recording_ColorImage_RootBranch=master
E-Recording_CountyLogoLambda_RootBranch=master
E-Recording_Dashboard_RootBranch=master
E-Recording_DocSubmit_RootBranch=master
E-Recording_PackageApi_RootBranch=master
E-Recording_PackageHandlerLambda_RootBranch=master
E-Recording_PublicApi_RootBranch=master
E-Recording_S3DocumentUploadLambda_RootBranch=master
E-Recording_Support_RootBranch=master
E-Recording_WebRecordingAdminFormLambda_RootBranch=master

E-Recording_Admin_Path=E-Recording\eagle-erecord-admin
E-Recording_Bootstrapper_Path=E-Recording\eagle-erecord-bootstrapper
E-Recording_ColorImage_Path=Vitals\eagle-color-image-lambda
E-Recording_CountyLogoLambda_Path=E-Recording\web-recording-admin-aws-s3-county-logo-upload-lambda
E-Recording_Dashboard_Path=E-Recording\eagle-erecord-dashboard
E-Recording_DocSubmit_Path=E-Recording\eagle-doc-submit
E-Recording_PackageApi_Path=E-Recording\eagle-package-api
E-Recording_PackageHandlerLambda_Path=Vitals\web-recording-package-handler-lambda
E-Recording_PublicApi_Path=E-Recording\eagle-public-api
E-Recording_S3DocumentUploadLambda_Path=E-Recording\eagle-aws-s3-document-upload-lambda
E-Recording_Support_Path=E-Recording\eagle-erecord-support
E-Recording_WebRecordingAdminFormLambda_Path=E-Recording\web-recording-admin-form-lambda


RAM_Admin_RootBranch=main
RAM_Api_RootBranch=main
RAM_CloudStack_RootBranch=main
RAM_FrontEnd_RootBranch=main
RAM_PublicApi_RootBranch=main

RAM_Admin_Path=RAM\ram-admin
RAM_Api_Path=RAM\ram-api
RAM_CloudStack_Path=RAM\ram-cloud-stack
RAM_FrontEnd_Path=RAM\ram-front-end
RAM_PublicApi_Path=RAM\ram-public-api

RECO_Admin_RootBranch=main
RECO_Api_RootBranch=main
RECO_CloudStack_RootBranch=main
RECO_FrontEnd_RootBranch=main
RECO_PublicApi_RootBranch=main
RECO_QueueProcessor_RootBranch=master

RECO_Admin_Path=ReCo\reco-admin
RECO_Api_Path=ReCo\reco-api
RECO_CloudStack_Path=ReCo\reco-cloud-stack
RECO_FrontEnd_Path=ReCo\reco-front-end
RECO_PublicApi_Path=ReCo\reco-public-api
RECO_QueueProcessor_Path=ReCo\reco-queue-processor


Vitals_Admin_RootBranch=master
Vitals_AdminS3DocumentUploadLambda_RootBranch=master
Vitals_AdminS3ShippingLabelTemplateLambda_RootBranch=main
Vitals_Api_RootBranch=master
Vitals_CitizenS3CompletedForms_RootBranch=master
Vitals_CitizenS3SupportDoc_RootBranch=master
Vitals_ClientPublicApi_RootBranch=master
Vitals_CloudStack_RootBranch=master
Vitals_JobRunner_RootBranch=master
Vitals_PublicApi_RootBranch=master
Vitals_RequestSubmissionLambda_RootBranch=master
Vitals_Support_RootBranch=main
Vitals_Vitals_RootBranch=master

Vitals_Admin_Path=Vitals\eagle-vitals-admin
Vitals_AdminS3DocumentUploadLambda_Path=Vitals\vitals-admin-aws-s3-document-upload-lambda
Vitals_AdminS3ShippingLabelTemplateLambda_Path=Vitals\vitals-admin-aws-s3-shipping-label-template-lambda
Vitals_Api_Path=Vitals\eagle-vitals-api
Vitals_CitizenS3CompletedForms_Path=Vitals\vitals-citizen-aws-s3-completed-forms
Vitals_CitizenS3SupportDoc_Path=Vitals\vitals-citizen-aws-s3-support-doc
Vitals_ClientPublicApi_Path=Vitals\vitals-client-public-api
Vitals_CloudStack_Path=Vitals\vitals-cloud-stack
Vitals_JobRunner_Path=Vitals\eagle-vitals-job-runner
Vitals_PublicApi_Path=Vitals\eagle-vitals-public-api
Vitals_RequestSubmissionLambda_Path=Vitals\vitals-request-submission-lambda
Vitals_Support_Path=Vitals\eagle-vitals-support
Vitals_Vitals_Path=Vitals\eagle-vitals